*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: blue;
    word-spacing: 50px;
}
p{
    background-color: yellow;
    margin-top: 20px;
}
h1{
    padding-left: 80px;
    background-color: red;
    margin: 50px; width: 25px;
    background-color: yellow;

}
div{
    
    background-color: aquamarine;
    border: 50px;
}
h2{
    margin: 50px;
    padding: 40px;
    background-color: blueviolet;
    border: solid;
}
/* ul{
   background-color: aqua; 
   border: solid;
} */
ol{
    background-color: blue;
}
.navbar li a{
    text-decoration: none;
}
.navbar{
    margin-left: 50px;
    text-decoration-style: none;
}
li{
    border: solid;
}
#new{
    background-color: paleturquoise;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

