*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: blue;
    word-spacing: 40px;
    font-size: 20px;
}
p{
    background-color: yellow;
    margin-top: 20px;
}
h1{
    padding-left: 80px;
    background-color: rgb(231, 10, 10);
    margin: 50px; width: 25px;
    background-color: rgb(207, 207, 20);

}
div{
    
    background-color: aquamarine;
    border: 1px solid black;
}
h2{
    margin: 50px;
    padding: 40px;
    background-color: blueviolet;
    border: solid;
}
/* ul{
   background-color: aqua; 
   border: solid;
} */
ol{
    background-color: rgb(220, 31, 6);
}
.navbar li a{
    overflow: hidden;
    text-decoration: none;
}
.navbar li a:hover{
    transition: 2s;
    transform: scale(1.2);
    color: rgb(221, 22, 22);
}
.navbar{
    margin-left: 55px;
    text-decoration-style: none;
}

#new{
    background-color: rgba(78, 228, 228, 0.829);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#new img{
    width: 80px;
    height: auto;
    border-radius: 50%;
}
#new nav ul{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
}
#new nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(28, 87, 188, 0.529);
}

#new nav ul li a:hover{
    color: rgba(8, 248, 248, 0.848);
    background-color: rgba(165, 28, 28, 0.693);
}
#car1{
    background-image: url(car.jpg);
}

#round{
    width: 250px;
    height: 250px;
    border: 4px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downbt{
 border-radius: 40px;
 color: rgb(52, 49, 49);
 background-color: rgb(31, 150, 150);
}